<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
	point="org.eclipse.ui.perspectives">
<!--@CincoGen CARE-->
	<perspective
		class="info.scce.cinco.product.CARE.CAREPerspective"
		fixed="false"
		id="info.scce.cinco.product.CARE.careperspective"
		name="CARE Perspective">
	</perspective>
</extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CCARE -->
      <package class="info.scce.cinco.product.CARE.api.ccare.CcarePackage" genModel="src-gen/model/CCARE.genmodel" uri="http://cinco.scce.info/product/ccare"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CARE -->
      <package class="info.scce.cinco.product.CARE.care.CarePackage" genModel="src-gen/model/CARE.genmodel" uri="http://cinco.scce.info/product/care"/>
   </extension></plugin>